<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pfsense Exploit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Pfsense Exploit Form</h1>
        <form action="{{ url_for('run_pfsense') }}" method="post">
            <label for="target_ip">Target IP:</label>
            <input type="text" id="target_ip" name="target_ip" required>
            <button type="submit">Run Pfsense Exploit</button>
        </form>
        <a href="{{ url_for('index') }}">Go Back</a>
    </div>
</body>
</html>
